/*Barre de navigation générale*/

#nav-bar {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  justify-content: space-around;
  list-style: none;
  padding: 0px;
}
/*Logout*/
.logout {
  color: white;
}

.lien:hover {
  color: orange;
}
