/*Barre de navigation générale*/

#nav-bar {
  display: flex;
  flex-direction: row;
  padding: 3vh 0 0 0;
  justify-content: space-around;
  list-style: none;
}
/*Logout*/
.logout {
  color: white;
}

.lien:hover {
  color: orange;
}
