#nav-bar {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  padding: 0;
  justify-content: space-around;
  color: rgb(255, 255, 255);
  list-style: none;
}

#nav-bar li :hover {
  color: orange;
}