.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-color: transparent;
  height: 200px;
  color: black;
}

.each-slide span {
  padding: 5vh 5vw;
  margin: 5vh;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.gauge {
  margin-left: 10vh;
}
