.admin-dashboard {
  padding: 0 5vw;
}

.admin-dashboard h1 {
  text-align: center;
}

/* .admin-dashboard h4 {

} */

.orangeTW {
  color: orange;
}

.admin-dashboard ul {
  list-style: none;
  padding-left: 15px;
}
