/* Global CSS */

.contentApp {
  background-image: url(./background.png);
  position: fixed;
  background-size: cover;
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;

  color: aquamarine;
}
@media screen {
}

body {
  color: white;
}