@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap%22");
.linkHere {
  color: orange;
}
.myMail {
  background-color: rgba(128, 128, 128, 0.11);
  height: 50px;
}
.myPassword {
  background-color: rgba(128, 128, 128, 0.11);
  height: 50px;
  margin-top: 9px;
}
.buttonLogin {
  background-color: transparent;
  border-style: solid;
  border-radius: 2px;
}
.subButton {
  color: white;
}

@media screen and (max-width: 450px) {
  /*gestion logo*/
  
  .contentInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 50%;
  }
  .contentButton {
    margin-top: 35px;
    margin-left: 13%;
    margin-right: 13%;
  }
  .contentLink {
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

